# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

# Challenge 1 - Accessing our database
Create a connection to access the sakila database with the ip, user and password provided in class. Take a look at the data. Do some joins in order to have more elaborated tables in a dataframe (you can try first the query in the DBMS and then use it in your notebook).

In [34]:
import sqlalchemy
import pandas as pd
import numpy as np

In [35]:
# your code here
driver   = 'mysql+pymysql:'
user     = 'data-students'
password = 'iR0nH@cK-D4T4B4S3'
ip       = '34.65.10.136'
database = 'sakila'

In [36]:
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
print(connection_string)

mysql+pymysql://data-students:iR0nH@cK-D4T4B4S3@34.65.10.136/sakila

In [37]:
engine = sqlalchemy.create_engine(connection_string)
print(engine)

Engine(mysql+pymysql://data-students:***@34.65.10.136/sakila)

In [38]:
# LetÂ´s look at actors individually

df_actor = pd.read_sql('SELECT * FROM sakila.actor', engine)
df_actor.head()

   actor_id first_name     last_name         last_update
0         1   PENELOPE       GUINESS 2006-02-15 04:34:33
1         2       NICK      WAHLBERG 2006-02-15 04:34:33
2         3         ED         CHASE 2006-02-15 04:34:33
3         4   JENNIFER         DAVIS 2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA 2006-02-15 04:34:33

In [39]:
# Lets look at films per actor

df_film_actor = pd.read_sql('SELECT * FROM sakila.film_actor', engine)
df_film_actor.head()

   actor_id  film_id         last_update
0         1        1 2006-02-15 05:05:03
1         1       23 2006-02-15 05:05:03
2         1       25 2006-02-15 05:05:03
3         1      106 2006-02-15 05:05:03
4         1      140 2006-02-15 05:05:03

In [40]:
# Let's create a join of 2 tables to get information from actors as well as the films done by each

actors_and_films = df_actor.merge(df_film_actor, left_on='actor_id', right_on='actor_id')

actors_and_films.head()

,actor_id,first_name,last_name,last_update_x,film_id,last_update_y
0,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,2006-02-15 05:05:03
1,1,PENELOPE,GUINESS,2006-02-15 04:34:33,23,2006-02-15 05:05:03
2,1,PENELOPE,GUINESS,2006-02-15 04:34:33,25,2006-02-15 05:05:03
3,1,PENELOPE,GUINESS,2006-02-15 04:34:33,106,2006-02-15 05:05:03
4,1,PENELOPE,GUINESS,2006-02-15 04:34:33,140,2006-02-15 05:05:03

# Challenge 2 - Working with JSON files

Import the pandas library.

In [41]:
# your code here

import pandas as pd

In the next cell, load the data in `nasa.json` in the `data` folder and load it into a pandas dataframe. Name the dataframe `nasa`.

In [42]:
pwd

'/Users/anna/Desktop/Ironhack/Week_2/lab-import-export/your-code'

In [43]:
# Location of datasets
#   /Users/anna/Desktop/Ironhack/Week_2/lab-import-export/data

In [44]:
nasa_df = pd.read_json('/Users/anna/Desktop/Ironhack/Week_2/lab-import-export/data/nasa.json')

Now that we have loaded the data, let's examine it using the `head()` function.

In [45]:
# your code here

nasa_df.head()

,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,fall,geolocation,id,mass,name,nametype,recclass,reclat,reclong,year
0,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [6.08333, 50....",1,21.0,Aachen,Valid,L5,50.77500,6.08333,1880-01-01T00:00:00.000
1,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [10.23333, 56...",2,720.0,Aarhus,Valid,H6,56.18333,10.23333,1951-01-01T00:00:00.000
2,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-113, 54.216...",6,107000.0,Abee,Valid,EH4,54.21667,-113.00000,1952-01-01T00:00:00.000
3,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",10,1914.0,Acapulco,Valid,Acapulcoite,16.88333,-99.90000,1976-01-01T00:00:00.000
4,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-64.95, -33....",370,780.0,Achiras,Valid,L6,-33.16667,-64.95000,1902-01-01T00:00:00.000

#### The `value_counts()` function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the `value_counts()` function to determine the frequency of all types of asteroid landings by applying the function to the `fall` column.

In [46]:
# your code here

nasa_df.fall.value_counts()

# There are 996 counts of "Fell"

Fell     996
Found      4
Name: fall, dtype: int64

Finally, let's save the dataframe as a json file again. Save the dataframe using the `orient=records` argument and name the file `nasa-output.json`. Remember to save the file inside the `data` folder.

In [47]:
##Save the data frame in new format

nasa_df.to_json('/Users/anna/Desktop/Ironhack/Week_2/lab-import-export/data/nasa-output.json', orient='records')

#nasa_output

# Challenge 2 - Working with CSV and Other Separated Files

CSV files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a CSV file into a dataframe directly from a URL without having to load the file first and then transform it. The dataset we will be using contains information about NASA shuttles.

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [48]:
cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']

tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [50]:
# although the commands are correct, unfortunately there is a "linking" issue
# <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:1108)>

shuttle = pd.read_csv(tst_url, sep=" ", names = cols)
shuttle.head()

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:1108)>

Let's verify that this worked by looking at the `head()` function.

In [31]:
# your code here

shuttle.head()

NameError: name 'data' is not defined

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated, that we are not saving the index column and that the file is saved inside the `data` folder.

In [ ]:
# your code here

shuttle.to_csv('/Users/anna/Desktop/Ironhack/Week_2/lab-import-export/data/shuttle.csv')

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the `data` folder. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [ ]:
# your code here

import xlrd

astronaut_data = pd.read_excel('/Users/anna/Desktop/Ironhack/Week_2/lab-import-export/data/astronauts.xls')

Use the `head()` function to inspect the dataframe.

In [ ]:
# your code here
astronaut_data.head(3)

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [ ]:
# your code here

astronaut_data['Undergraduate Major'].value_counts()

In [ ]:
# The most popular Undergraduate Major is Physics

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a **tab separated file** using the `to_csv` function. Call the file `astronaut.csv`. Remember to remove the index column and save the file in the `data` folder.

In [ ]:
# your code here
astronaut_data.to_csv('../data/astronaut.csv', sep='\t')

# Bonus Challenge - Fertility Dataset

Visit the following [URL](https://archive.ics.uci.edu/ml/datasets/Fertility) and retrieve the dataset as well as the column headers. Determine the correct separator and read the file into a variable called `fertility`. Examine the dataframe using the `head()` function. 

Look in Google for a way to retrieve this data!

In [ ]:
# your code here